/* CSS file */

		Alert {
            titleStyleName: "alertTitle";
            messageStyleName: "alertMessage";
            buttonStyleName: "alertButton";
            modal-transparency:0.0;
            
         }

        .alertTitle {
            letterSpacing: 0;
            fontSize: 14;
            color: red;
        }

        .alertMessage {
            letterSpacing: 0;
            fontSize: 12;
            fontWeight: normal;
            color: black;
        }

        .alertButton {
            letterSpacing: 0;
            fontSize: 10;
        }
