* {
	margin:0;
	padding:0;
}
body {
	width: 990px;
	margin:0 auto;
	font-family: "宋体";
	font-size: 12px;
}
img, h1, div {
	border:0;
}
#content {
	font-size: 13px;
}
#content #center .altrow_a {
 background-image: url(file:///C|/Documents%20and%20Settings/yangzheng/%E6%A1%8C%E9%9D%A2/%E6%96%B0%E5%BB%BA%E6%96%87%E4%BB%B6%E5%A4%B9%20(3)/images/index/bg3.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height: 40px;
}
.top {
	margin-top: 8px;
}
table td {
	border: 0
}
.q_td {
	text-align: right;
}
#q_panle {
	border-bottom: 1px dotted #999;
	width: 960px;
	margin-left: 12px;
	margin-top: 8px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-top: 1px dotted #999;
}
#q_table {
	width: 750px;
}
#left_tree {
	position: relative;
	display: inline-block;
	width: 120px;
	margin-left: 10px;
	margin-top: 10px;
	vertical-align: top;
	float: left;
}
.right_content {
	position: relative;
	height: auto;
	text-align: center;
	width: 840px;
	margin: 0px;
	float: right;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #999;
}
#r_table {
}
#r_table #r_table_tr {
	background-color: #3087DD;
	height: 20px;
}
ul {
	margin-left: 40px;
	margin-top: 3px;
}
ul li {
	line-height: 20px
}
ul.a {
	list-style-type:circle;
	list-style-image: url(../../images/fenzhi/index1_54.gif);
}
#content #center .top {
	border:1px solid #d3e0e8;
	background-image: url(../../images/chezai/menu_bga.gif);
	background-repeat: repeat-x;
	padding-left: 10px;
	text-align: left;
	background-position: 0px 0px;
	height: 24px;
	line-height: 24px;
	display: block;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: relative;
}
#content #center .top a {
	line-height:22px;
	margin-left:5px;
	text-decoration:none;
	color:#3a6486;
}
#con {
	float: left;
	height: auto;
	width: 984px;
	padding-top: 5px;
	padding-left: 4px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #acb4be;
	border-left-color: #acb4be;
}
#right .top_a {
	height: 8px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #c6e4f8;
	border-left-color: #c6e4f8;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c6e4f8;
}
#con .right_content #r_table {
	line-height:23px;
	text-align:center;
	border:1px solid #c6e4f8;
}
#content #center #center2 {
	height:28px;
	background-image: url(../../images/chezai/button_d.gif);
	background-repeat: repeat-x;
	border: 1px solid #d3e0e8;
	background-position: 0px 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#content #center #center3 {
	background-image: url(../../images/chezai/button_d.gif);
	background-repeat: repeat-x;
	border: 1px solid #d3e0e8;
	background-position: 0px 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#content #center #center4 {
	background-image: url(../../images/chezai/button_d.gif);
	background-repeat: repeat-x;
	border: 1px solid #d3e0e8;
	background-position: 0px 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
